<h3>Álcool ou Gasolina?</h3>

<script type="text/javascript">

var tanque = 40;
var caminhoComGasolina = 480;
var consumoDeGasolina;

var consumoDeGasolina = (caminhoComGasolina / tanque);


document.write(" O Consumo de Gasolina é de: " + consumoDeGasolina + " Km/l "); 

document.write(" <br> ");
document.write(" <br> ");

var caminhoComAlcool = 300;
var cosumoComAlcool;

var consumoComAlcool = (caminhoComAlcool / tanque);

document.write(" O Consumo de Álcool é de: " + Math.round(consumoComAlcool) + " Km/l ");

</script>